:root{
--color-fondo: lightblue;
--color-principal: black;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-fondo);
  }

.cuerpoPrincipal {
    padding: 20px;
    min-height: 100dvh;
}
